/* I'm going for a light academia aesthetic, so the fonts are quite classy and cool */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


/* I'm going for a light academia aesthetic, so lots of beige, white, and cream */
:root {
    --cream: #f5f1e9;
    --beige: #e3d9c6;
    --half-opaque-beige: rgba(241, 234, 221, 0.7);
    --dark-beige: #cbbf9c;
    --brown: #8b6d5c;
    --dark-brown: #5c4438;
    --text-color: #333333;
    /* this is a pretty university-esque font which I found on Pinterest*/
    --title-font: 'Julius Sans One', sans-serif;
    /* this is a classy yet readable font. I downloaded it and the pervious one on Google Fonts*/
    --body-font: 'Roboto Serif', serif;
}

html {
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    /*This makes the background half-transparent for better reability*/
    background-image:
        linear-gradient(var(--half-opaque-beige),
            var(--half-opaque-beige)),
        url("bg.jpg");
    /*This makes the background cover the entire screen while maintaining aspect ratio*/
    background-size: cover;
    /*This makes the background fixed so it doesn't scroll with the page*/
    background-attachment: fixed;
    box-sizing: border-box;
}


/*This makes everything inherit the border-box property, but allows flexibility to change specific elements if I need to*/
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 1rem;
    padding: 0;
}

h1 {
    font-family: var(--title-font);
    color: var(--dark-brown);
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-weight: 500;
    text-align: center;
    color: var(--brown);
    font-size: 1rem;
    padding: 0 1rem;
}


form {
    background-color: var(--cream);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 1rem auto;
    line-height: 2;
}

label {
    display: block;
    margin-top: 1rem;
}

input[type="number"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--dark-beige);
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
}

button,
a {
    display: inline-block;
    background-color: var(--dark-brown);
    color: var(--beige);
    padding: 1rem 2rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--title-font);
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    text-align: center !important;
    font-size: 1rem;
    margin-top: 1rem;
}

button:hover,
a:hover {
    background-color: var(--brown);
}

button:active,
a:active {
    transform: scale(0.98);
}

#result {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
    margin: 2rem auto;
    justify-content: center;
    color: var(--dark-brown);
    background-color: var(--cream);
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 100%;
}

header {
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#again-button,
#result {
    visibility: hidden;
}

#again-button {
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responsive styling for mobile*/
@media (min-width: 768px) {
    body {
        margin: 5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    form {
        padding: 2rem;
        max-width: 70%;
        margin: 2rem auto;
    }

    button,
    a {
        width: auto;
    }

    #result {
        font-size: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 70%;
    }
}