/* I'm going for a light academia aesthetic, so the fonts are quite classy and cool */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


/* I'm going for a light academia aesthetic, so lots of beige, white, and cream */
:root {
    --cream: #f5f1e9;
    --beige: #e3d9c6;
    --half-opaque-beige: rgba(241, 234, 221, 0.7);
    --dark-beige: #cbbf9c;
    --brown: #8b6d5c;
    --dark-brown: #5c4438;
    --text-color: #333333;
    --title-font: 'Julius Sans One', sans-serif;
    --body-font: 'Roboto Serif', serif;
}

html {
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    background-image:
        linear-gradient(var(--half-opaque-beige),
            var(--half-opaque-beige)),
        url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 5rem;
}

h1 {
    font-family: var(--title-font);
    color: var(--dark-brown);
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    text-align: center;
    color: var(--brown);
    font-size: 1.3rem;
}

form {
    background-color: var(--cream);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: 2rem auto;
    line-height: 2;
}

input[type="number"] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    border: 1px solid var(--dark-beige);
    border-radius: 10px;
    font-size: 1rem;
}

a {
    background-color: var(--dark-brown);
    color: var(--beige);
    padding: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--title-font);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: var(--brown);
}

#result {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    margin: auto;
    justify-content: center;
    color: var(--dark-brown);
    background-color: var(--cream);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#again-button,
#result {
    visibility: hidden;
}

#again-button {
    margin: 1.5rem auto;
    text-align: center;
    align-items: center;
    display: flex;
}